---
Checks: '*,
  -fuchsia-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -llvm-*,
  -llvmlibc-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -modernize-pass-by-value,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-magic-numbers'

WarningsAsErrors:  ''
HeaderFilterRegex: ''
FormatStyle:       none
